{% extends '::base.html.twig' %}

{% trans_default_domain "group" %}

{% block title %}
    {{ "groups.title.addClip"|trans({"%groupName%" : group.name}) }}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            {{ form_errors(form) }}
        </div>
        <form action="#" method="POST">
            <div class="col-lg-12">
               {{ form_row(form.name) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.text) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.video) }}
            </div>

            <div class="col-lg-12">
                {{ form_rest(form) }}
            </div>

            <div class="col-lg-12">
                <button type="submit">
                    {{ "groups.form.createButton"|trans() }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
