{% extends 'ValiknetMusicBundle:Group:group_webber.html.twig' %}

{% trans_default_domain "group" %}

{% block title %}
    {{ "groups.title.contactsList"|trans({"%groupName%" : group.name}) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block group_content %}
    <div class="col-lg-12">
        {% if group.officialSite %}
            <div class="col-lg-12">
                {{ "groups.contacts.officialSite"|trans() }}: <a href="{{ group.officialSite }}">{{ group.officialSite }}</a>
            </div>
        {% endif %}

        {% if group.officialVkPage %}
            <div class="col-lg-12">
                {{ "groups.contacts.officialVkPage"|trans() }}: <a href="{{ group.officialVkPage }}">{{ group.officialVkPage }}</a>
            </div>
        {% endif %}

        {% if group.officialFacebookPage %}
            <div class="col-lg-12">
                {{ "groups.contacts.officialFacebookPage"|trans() }}: <a href="{{ group.officialFacebookPage }}">{{ group.officialFacebookPage }}</a>
            </div>
        {% endif %}

        {% if group.officialTwitterPage %}
            <div class="col-lg-12">
                {{ "groups.contacts.officialTwitterPage"|trans() }}: <a href="{{ group.officialTwitterPage }}">{{ group.officialTwitterPage }}</a>
            </div>
        {% endif %}

        {% if (not group.officialSite) and (not group.officialVkPage) and (not group.officialFacebookPage) and (not group.officialTwitterPage) %}
            <div class="col-lg-12">
                <h4>{{ "groups.contacts.errorContacts"|trans() }}</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
