{% extends '::base.html.twig' %}

{% trans_default_domain "group" %}

{% block title %}
    {{ "groups.title.createGroup"|trans() }}
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2">
        {{ form_errors(form) }}
        <form method="POST" action="#" enctype="multipart/form-data">
            <div class="col-lg-12">
                {{ form_row(form.poster) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.name) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.history) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.country) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.createdAt) }}
            </div>

            <div class="col-lg-12">
                <h4>Контакти</h4>
                <div class="col-lg-12">
                    {{ form_row(form.officialSite) }}
                </div>

                <div class="col-lg-12">
                    {{ form_row(form.officialVkPage) }}
                </div>

                <div class="col-lg-12">
                    {{ form_row(form.officialTwitterPage) }}
                </div>

                <div class="col-lg-12">
                    {{ form_row(form.officialFacebookPage) }}
                </div>
            </div>

            <div class="col-lg-12">
                <h4>
                    {{ form_label(form.styles) }}
                </h4>
                <ul>
                    {% for style in form.styles %}
                        <li>
                            {{ form_widget(style) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-12">
                {{ form_rest(form) }}
            </div>

            <button type="submit" class="btn btn-default">{{ "groups.form.createButton"|trans() }}</button>
        </form>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/valiknetmusic/js/common.js') }}"></script>
{% endblock %}
