{% extends '::base.html.twig' %}

{% trans_default_domain "article" %}

{% block title %}
    {{ "groups.title.listGroups"|trans() }}
{% endblock %}

{% block content %}
    <div class="col-lg-12 arrow-navigator">
        <a href="{{ path('valiknet_group_list') }}">{{ "groups.groups"|trans() }}</a>
    </div>

    <div class="col-lg-2 col-lg-offset-10">
        <a href="{{ path('valiknet_group_create') }}">{{ "groups.createGroup"|trans() }}</a>
    </div>

    <div class="row col-lg-12">
        {% for group in groups %}
            <div class="col-lg-6 thumbnail">
                <h4 class="col-lg-12">
                    {{ group.name }}
                </h4>

                <div class="col-lg-4">
                    <img src="{{ asset(group.webPath|valiknet_image()|imagine_filter('thumb140')) }}" class="mini-poster" />
                </div>

                <div class="col-lg-8 characters">
                    <div class="col-lg-12">
                        {{ "groups.group.country"|trans() }}: <a href="{{ path('valiknet_country_group_view', {"slug" : group.country.slug}) }}">{{ group.country.name }}</a>
                    </div>

                    <div class="col-lg-12">
                        {{ "groups.group.styles"|trans() }}:

                        {% for style in group.styles %}
                            <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                        {% endfor %}
                    </div>

                    <div class="col-lg-12">
                        {{ "groups.group.createdAt"|trans() }}: {{ group.createdAt|date('d.m.Y') }}
                    </div>
                </div>

                <div class="col-lg-12">
                    <a href="{{ path('valiknet_group_view', {"slug" : group.slug}) }}" class="btn btn-success">
                        {{ "groups.moveOn"|trans() }}
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-lg-12">
                <h4>
                    {{ "groups.clips.errorClipsNotIsset"|trans() }}
                </h4>
            </div>
        {% endfor %}

        <div class="col-lg-12">
            {{ knp_pagination_render(groups) }}
        </div>
    </div>
{% endblock %}
