{% extends 'ValiknetMusicBundle:Group:group_webber.html.twig' %}

{% trans_default_domain "group" %}

{% block title %}
    {{ "groups.title.clipsGroup"|trans({ "%groupName%" : group.name }) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block group_content %}
    <div class="col-lg-12">
        {% for groupuser in group.users %}
            <div>
                <a href="{{ path('valiknet_user_view', {"slug" : groupuser.user.slug}) }}">{{ groupuser.user.name }} {{ groupuser.user.lastname }}</a> - {{ groupuser.role|valiknet_role }}
            </div>
        {% else %}
            <h4>В цій групі немає ні одного учасника</h4>
        {% endfor %}
    </div>
{% endblock %}
