{% extends 'ValiknetMusicBundle:Group:group_webber.html.twig' %}

{% block title %}
    Список кліпів групи {{ group.name }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_group_list') }}">Групи</a>><a href="{{ path("valiknet_group_view", { "slug" : group.slug }) }}">{{ group.name }}</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">Учасники</a>
{% endblock %}

{% block group_content %}
    <div class="col-lg-12">
        {% for groupuser in group.users %}
            <div>
                <a href="{{ path('valiknet_user_view', {"slug" : groupuser.user.slug}) }}">{{ groupuser.user.name }} {{ groupuser.user.lastname }}</a> - {{ groupuser.role|valiknet_role }}
            </div>
        {% else %}
            <h4>В цій групі немає ні одного учасника</h4>
        {% endfor %}
    </div>
{% endblock %}
