{% extends 'ValiknetMusicBundle:Group:group_webber.html.twig' %}

{% trans_default_domain "group" %}

{% block title %}
    {{ "groups.title.releasesGroup"|trans({ "%releaseName%" : release.name, "%groupName%" : group.name}) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block group_content %}
    <div class="col-lg-12">
        <div class="col-lg-2 col-lg-offset-10">
            <a href="{{ path('valiknet_group_release_update', {"slug" : group, "slugRelease" : release.slug}) }}">{{ "groups.releases.updateRelease"|trans() }}</a>
        </div>
        {{ render(controller('ValiknetMusicBundle:Release:show', {'release' : release})) }}
    </div>
{% endblock %}
