{% extends 'ValiknetMusicBundle:User:user_webber.html.twig' %}

{% trans_default_domain "user" %}

{% block title %}
    {{ "users.title.contacts"|trans({"%userName%" : user.name ~ " " ~ user.lastname}) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block user_content %}
    <div class="col-lg-12">
        {% if user.officialSite %}
            <div class="col-lg-12">
                {{ "users.contacts.officialSite"|trans() }}: <a href="{{ user.officialSite }}">{{ user.officialSite }}</a>
            </div>
        {% endif %}

        {% if user.officialVkPage %}
            <div class="col-lg-12">
                {{ "users.contacts.officialVkPage"|trans() }}: <a href="{{ user.officialVkPage }}">{{ user.officialVkPage }}</a>
            </div>
        {% endif %}

        {% if user.officialFacebookPage %}
            <div class="col-lg-12">
                {{ "users.contacts.officialFacebookPage"|trans() }}: <a href="{{ user.officialFacebookPage }}">{{ user.officialFacebookPage }}</a>
            </div>
        {% endif %}

        {% if user.officialTwitterPage %}
            <div class="col-lg-12">
                {{ "users.contacts.officialTwitterPage"|trans() }}: <a href="{{ user.officialTwitterPage }}">{{ user.officialTwitterPage }}</a>
            </div>
        {% endif %}

        {% if (not user.officialSite) and (not user.officialVkPage) and (not user.officialFacebookPage) and (not user.officialTwitterPage) %}
            <div class="col-lg-12">
                <h4>{{ "users.contacts.pageNoIsset"|trans() }}</h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
