{% extends 'ValiknetMusicBundle:User:user_webber.html.twig' %}

{% block title %}
    Список контактів людини {{ user.name }} {{ user.lastname }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_user_list') }}">Люди</a>><a href="{{ path("valiknet_user_view", { "slug" : user.slug }) }}">{{ user.name }} {{ user.lastname }}</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">Контакти</a>
{% endblock %}

{% block user_content %}
    <div class="col-lg-12">
        {% if user.officialSite %}
            Офіційний сайт: <a href="{{ user.officialSite }}">{{ user.officialSite }}</a>
        {% endif %}

        {% if user.officialVkPage %}
            Офіційна сторінка вконтакті: <a href="{{ user.officialVkPage }}">{{ user.officialVkPage }}</a>
        {% endif %}

        {% if user.officialFacebookPage %}
            Офіційна фейсбук сторінка: <a href="{{ user.officialFacebookPage }}">{{ user.officialFacebookPage }}</a>
        {% endif %}

        {% if user.officialTwitterPage %}
            Офіційна сторінка в твіттері: <a href="{{ user.officialTwitterPage }}">{{ user.officialTwitterPage }}</a>
        {% endif %}

        {% if (not user.officialSite) and (not user.officialVkPage) and (not user.officialFacebookPage) and (not user.officialTwitterPage) %}
            <h4>До цієї людини не добавлений ні один офіційний контакт</h4>
        {% endif %}
    </div>
{% endblock %}
