{% extends '@ValiknetMusic/User/user_webber.html.twig' %}

{% trans_default_domain "user" %}

{% block title %}
    {{ "users.title.groupsUser"|trans({"%userName%" : user.name ~ " " ~ user.lastname}) }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_user_list') }}">{{ "users.users"|trans() }}</a>><a href="{{ path("valiknet_user_view", { "slug" : user.slug }) }}">{{ user.name }} {{ user.lastname }}</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ "users.navigator.groups"|trans() }}</a>
{% endblock %}

{% block user_content %}
    <div class="col-lg-2 col-lg-offset-10">
        <a href="{{ path('valiknet_user_add_in_group', {"slug" : user.slug}) }}"> {{ "users.title.addUserInGroup"|trans() }}</a>
    </div>

    <table class="table">
        <tr>
            <th>
                {{ "users.group.nameGroup"|trans() }}
            </th>

            <th>
                {{ "users.group.roleGroup"|trans() }}
            </th>

            <th>
                {{ "users.group.joinedAt"|trans() }}
            </th>

            <th>
                {{ "users.group.linkToUpdate"|trans() }}
            </th>
        </tr>
    {% for groupuser in user.groups %}
        <tr>
            <td>
                <a href="{{ path("valiknet_group_view", {"slug" : groupuser.group.slug}) }}">{{ groupuser.group.name }}</a>
            </td>

            <td>
                {{ groupuser.role|valiknet_role }}
            </td>

            <td>
                {{ groupuser.joinedAt|date('d.m.Y') }}
            </td>

            <td>
                <a href="{{ path('valiknet_user_update_in_group', {"id" : groupuser.id, "slug" : user.slug}) }}">Обновлення</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                <h4>
                    {{ "users.group.groupsNotIsset"|trans() }}
                </h4>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
