{% extends '@ValiknetMusic/User/user_webber.html.twig' %}

{% trans_default_domain "user" %}

{% block title %}
    {{ "users.title.newsUser"|trans({"%userName%" : user.name ~ " " ~ user.lastname}) }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_user_list') }}">{{ "users.users"|trans() }}</a>><a href="{{ path("valiknet_user_view", { "slug" : user.slug }) }}">{{ user.name }} {{ user.lastname }}</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ "users.navigator.news"|trans() }}</a>
{% endblock %}

{% block user_content %}
    <div class="col-lg-12">
        {% include "@ValiknetMusic/Article/block/listArticles.html.twig" with {"articles" : articles} %}
    </div>
{% endblock %}
