{% extends '::base.html.twig' %}

{% block title %}
    Список людей
{% endblock %}

{% block content %}
    <div class="col-lg-12 arrow-navigator">
        <a href="{{ path('valiknet_user_list') }}">Люди</a>
    </div>

    <div class="col-lg-2 col-lg-offset-10">
        <a href="{{ path('valiknet_user_add') }}">Додати людину</a>
    </div>

    <div class="row col-lg-12">
        {% for user in users %}
            <div class="col-lg-6 thumbnail">
                <h4 class="col-lg-12">
                    {{ user.name }} {{ user.lastname }}
                </h4>

                <div class="col-lg-4">
                    <img src="{{ asset(user.webPath|valiknet_image()|imagine_filter('thumb140')) }}" class="mini-poster" />
                </div>

                <div class="col-lg-8 characters">
                    <div class="col-lg-12">
                        Країна: <a href="{{ path('valiknet_country_user_view', {"slug" : user.country.slug}) }}">{{ user.country.name }}</a>
                    </div>

                    <div class="col-lg-12">
                        Дата народення: {{ user.birthedAt|date('d.m.Y') }}
                    </div>
                </div>

                <div class="col-lg-12">
                    <a href="{{ path('valiknet_user_view', {"slug" : user.slug}) }}" class="btn btn-success">
                        Перейти
                    </a>
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-12">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
