{% extends '::base.html.twig' %}

{% block title %}
    Обновлення людини {{ user.name }} {{ user.lastname }}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            {{ form_errors(form) }}
        </div>

        <form action="#" method="POST" enctype="multipart/form-data" novalidate>
            <div class="col-lg-12">
                <img src="{% if user.webPath %} {{ asset(user.webPath|imagine_filter('thumb250')) }} {% else %} {{ asset("standart/group/empty.png"|imagine_filter("thumb250")) }} {% endif %}" />
            </div>

            <div class="col-lg-12">
                {{ form_row(form.photo) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.name) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.lastname) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.country) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.history) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.birthedAt) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.officialSite) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.officialVkPage) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.officialTwitterPage) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.officialFacebookPage) }}
            </div>

            <div class="col-lg-12">
                {{ form_rest(form) }}
            </div>

            <div class="col-lg-12">
                <button type="submit">Добавити людину</button>
            </div>
        </form>
    </div>
{% endblock %}
