{% extends '::base.html.twig' %}

{% trans_default_domain "user" %}

{% block title %}
    Обновлення людини {{ user.name }} в групі
    {{ "users.title.updateUserInGroup"|trans("%userName%" : user.name ~ " " ~ user.lastname) }}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="col-lg-12">
            {{ form_errors(form) }}
        </div>

        <form action="#" method="POST" enctype="multipart/form-data" novalidate>
            <div class="col-lg-12">
                {{ form_row(form.group) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.role) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.joinedAt) }}
            </div>

            <div>
                {{ form_rest(form) }}
            </div>

            <div class="col-lg-12">
                <button type="submit" class="btn btn-default"> {{ "users.form.updateButton"|trans() }}</button>
                <a href="{{ path("valiknet_user_delete_in_group", {"id" : groupUser.id, "slug" : user.slug}) }}" class="btn btn-default"> {{ "users.form.deleteUserFromGroupButton"|trans() }}</a>
            </div>
        </form>
    </div>
{% endblock %}
