{% trans_default_domain "group" %}

<div class="col-lg-12">
    <h3 class="col-lg-12">{{ release.name }}</h3>

    <div class="col-lg-4">
        <img src="{{ asset(release.webPath|valiknet_image()|imagine_filter('thumb250')) }}" class="poster" />
    </div>

    <div class="col-lg-8">
        <div class="col-lg-12">
            {{ "groups.releases.type"|trans() }}: {{ release.type|valiknet_release }}
        </div>

        <div class="col-lg-12">
            {{ "groups.releases.releasedAt"|trans() }}: {{ release.releasedAt|date('d.m.Y') }}
        </div>
        <p class="col-lg-12">
            {{ release.text }}
        </p>

        <div class="col-lg-12">
            <h3>{{ "groups.releases.TracksList"|trans() }}</h3>

            <table class="table">
                <tr>
                    <th>#</th>
                    <th>{{ "groups.releases.nameTrack"|trans() }}</th>
                    <th>{{ "groups.releases.timeline"|trans() }}</th>
                </tr>
                {% set counter = 1 %}

                {% for track in release.tracks %}
                <tr>
                    <td>{{ counter }}</td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.timeline }}</td>
                </tr>

                {% set counter = counter + 1 %}
                {% endfor %}
            </table>
        </div>
    </div>

</div>
