{% extends 'ValiknetMusicBundle:Article:article_webber.html.twig' %}

{% trans_default_domain "article" %}

{% block title %}
    {{ "articles.titles.groupsTitle"|trans({ "%articleName%" : article.name }) }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_home') }}">{{ "articles.articles"|trans() }}</a>><a href="{{ path('valiknet_article_view', {"slug" : article.slug}) }}">{{ article.name }}</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ "articles.navigator.groups"|trans() }}</a>
{% endblock %}

{% block article_content %}
    <div class="col-lg-12">
        {% for group in article.groups %}
            <div class="col-lg-6 thumbnail">
                <h4 class="col-lg-12">
                    {{ group.name }}
                </h4>

                <div class="col-lg-4">
                    <img src="#" class="mini-poster" />
                </div>

                <div class="col-lg-8 characters">
                    <div class="col-lg-12">
                        Країна: <a href="{{ path('valiknet_country_group_view', {"slug" : group.country.slug}) }}">{{ group.country.name }}</a>
                    </div>

                    <div class="col-lg-12">
                        Стилі:

                        {% for style in group.styles %}
                            <a href="#">{{ style.name }}</a>
                        {% endfor %}
                    </div>

                    <div class="col-lg-12">
                        Дата створення: {{ group.createdAt|date('d.m.Y') }}
                    </div>
                </div>

                <div class="col-lg-12">
                    <a href="{{ path('valiknet_group_view', {"slug" : group.slug}) }}" class="btn btn-success">
                        Перейти
                    </a>
                </div>
            </div>
        {% else %}
            <div>
                <h4>
                    До цієї статі не прив’язана ні одна группа
                </h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
