{% extends 'ValiknetMusicBundle:Article:article_webber.html.twig' %}

{% trans_default_domain "article" %}

{% block title %}
    {{ "articles.titles.mainInformationTitle"|trans({ "%articleName%" : article.name}) }}
{% endblock %}

{% block links %}
    {{ wo_render_breadcrumbs() }}
{% endblock %}

{% block article_content %}
    <div class="col-lg-2 col-lg-offset-10">
        <a href="{{ path('valiknet_article_update', {"slug" : article.slug}) }}">{{ "articles.updateArticle"|trans() }}</a>
    </div>

    <div class="col-lg-12">
        <h3 class="col-lg-12">
            {{ article.name }}
        </h3>

        <div class="col-lg-12">
            {{ "articles.article.createdAt"|trans() }}: {{ article.createdAt|date('H:m:i d.m.Y') }}
        </div>

        <div class="col-lg-12">
            <p>
                {{ article.text }}
            </p>
        </div>
    </div>
{% endblock %}
