{% extends '::base.html.twig' %}

{% trans_default_domain "style" %}

{% block title %}
    {{ "styles.title.listStyle"|trans() }}
{% endblock %}

{% block content %}
    <div class="col-lg-12 arrow-navigator">
        {{ wo_render_breadcrumbs() }}
    </div>

    <div class="col-lg-2 col-lg-offset-10">
        <a href="{{ path('valiknet_style_create') }}">{{ "styles.addStyle"|trans() }}</a>
    </div>

    <div class="row col-lg-12">
        <ul>
            {% for style in styles %}
                <li>
                    <div class="col-lg-4">
                        {% if style.children is not empty %} <a href="#" class="parent-div">+</a> {% endif %} <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                    </div>

                    <div class="col-lg-8">
                        <a href="{{ path('valiknet_style_update', {"slug" : style.slug}) }}">{{ "styles.updateStyle"|trans() }}</a>
                    </div>

                    {% if style.children is not empty %}
                        <ul class="children-list">
                            {% for style in style.children %}
                                <li>
                                    <div class="col-lg-4">
                                        {% if style.children is not empty %}<a href="#" class="parent-div">+</a>{% endif %} <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                                    </div>

                                    <div class="col-lg-8">
                                        <a href="{{ path('valiknet_style_update', {"slug" : style.slug}) }}">{{ "styles.updateStyle"|trans() }}</a>
                                    </div>

                                    {% if style.children is not empty %}
                                        <ul class="children-list">
                                            {% for style in style.children %}
                                                <li>
                                                    <div class="col-lg-4">
                                                        <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                                                    </div>

                                                    <div class="col-lg-8">
                                                        <a href="{{ path('valiknet_style_update', {"slug" : style.slug}) }}">{{ "styles.updateStyle"|trans() }}</a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% else %}
                <div class="col-lg-12">
                    <h4>
                        {{ "styles.notHasRecord"|trans() }}
                    </h4>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/valiknetmusic/js/common.js') }}"></script>
{% endblock %}
