{% extends '::base.html.twig' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row col-lg-12">
        <ul>
            {% for style in styles %}
                <li>
                    <div>
                        <a href="#" class="parent-div">+</a> <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                    </div>

                    {% if style.children %}
                        <ul class="children-list">
                            {% for style in style.children %}
                                <li>
                                    <div>
                                        <a href="#" class="parent-div">+</a> <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                                    </div>

                                    {% if style.children %}
                                        <ul class="children-list">
                                            {% for style in style.children %}
                                                <li>
                                                    <div>
                                                        <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
