{% extends 'ValiknetMusicBundle:Style:style_webber.html.twig' %}

{% block title %}
    Піджанри жанру {{ style.name }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_style_list') }}">Жанри</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">Піджанри</a>
{% endblock %}

{% block style_content %}
    <div class="col-lg-12">
        {% if style.children|length > 0 %}
            <ul>
                {% for style in style.children %}
                    <li>
                        <a href="{{ path('valiknet_style_children_list', {"slug" : style.slug}) }}">{{ style.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="col-lg-12">
                <h4>
                    В цьому жанрі немає ні одного піджанру.
                </h4>
            </div>
        {% endif %}
    </div>
{% endblock %}
