{% extends 'ValiknetMusicBundle:Style:style_webber.html.twig' %}

{% block title %}
    Групи з жанром {{ style.name }}
{% endblock %}

{% block links %}
    <a href="{{ path('valiknet_style_list') }}">Жанри</a>><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">Групи</a>
{% endblock %}

{% block style_content %}
    <div class="col-lg-12">
        {% for group in style.groups %}
            <div class="col-lg-6 thumbnail">
                <h4 class="col-lg-12">
                    {{ group.name }}
                </h4>

                <div class="col-lg-4">
                    <img src="#" class="mini-poster" />
                </div>

                <div class="col-lg-8 characters">
                    <div class="col-lg-12">
                        Країна: <a href="{{ path('valiknet_country_group_view', {"slug" : group.country.slug}) }}">{{ group.country.name }}</a>
                    </div>

                    <div class="col-lg-12">
                        Стилі:

                        {% for style in group.styles %}
                            <a href="#">{{ style.name }}</a>
                        {% endfor %}
                    </div>

                    <div class="col-lg-12">
                        Дата створення: {{ group.createdAt|date('d.m.Y') }}
                    </div>
                </div>

                <div class="col-lg-12">
                    <a href="{{ path('valiknet_group_view', {"slug" : group.slug}) }}" class="btn btn-success">
                        Перейти
                    </a>
                </div>
            </div>
        {% else %}
            <div>
                <h4>
                    В базі немає ні однієї групи з таким жанром
                </h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}
