{% extends '::base.html.twig' %}

{% trans_default_domain "style" %}

{% block title %}
    {{ "styles.title.updateStyle"|trans({"styleName" : style.name}) }}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <form action="#" method="POST" novalidate>
            <div class="col-lg-12">
                {{ form_row(form.parent) }}
            </div>

            <div class="col-lg-12">
                {{ form_row(form.name) }}
            </div>

            <div class="col-
            lg-12">
                {{ form_rest(form) }}
            </div>

            <div class="col-lg-12">
                <button type="submit">{{ "styles.form.updateButton"|trans() }}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/valiknetmusic/js/common.js') }}"></script>
{% endblock %}
